<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	<div class="ui three item menu">
	  <a href="/index" class="item"><i class="home icon"></i>Home</a>
	  <a href="/overview" class="item"><i class="line chart icon"></i>Payment Overview</a>
	  <a href="/contract" class="item"><i class="world icon"></i>Contract</a>
	</div>