<%include partials/header%>

<div class="ui three item menu">
  <a href="/index" class="item">Home</a>
  <a href="/history" class="item">Payment History</a>
  <a href="/contract" class="active item">Contract</a>
</div>

Contract Page


<%include partials/footer%>