<%include partials/header%>

<div class="ui negative message">
  <div class="header"><i class="warning circle icon"></i>Uh oh!</div>
  <p>An error occured and we were unable to find the page</p>
  <a href="/index">Go back to HOME</a>
</div>

<%include partials/footer%>