<%include partials/header%>

<div class="ui three item menu">
  <a href="/index" class="item">Home</a>
  <a href="/history" class="active item">Payment History</a>
  <a href="/contract" class="item">Contract</a>
</div>


<table class="ui tablet stackable table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th class="right aligned">Amount</th>
    </tr>
  </thead>
  	<% items.forEach(function(item){ %>
	  <tbody>
	    <tr>
	      <td><%=item.id%></td>
	      <td><%=item.description%></td>
	      <td class="right aligned"><%=item.value%></td>
	      <td><a href="/history/<%=item._id%>">Detail</a></td>
	    </tr>
	  </tbody>
	<%})%>
</table>

<%include partials/footer%>