<%include partials/header%>
<div align="center">
	<img src="..public/img/home.png" class="ui centered small image">
	<h2 class="ui center aligned icon header">
 	 Thank You
 	</h2>
	 <h4 class="lead">Your rent is being processed.</h4></br>
   <a href="/" class="ui button">Go Back</a>
</div>
<%include partials/footer%>